.guru-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  justify-content: center;
  margin-top: 80px;
}

.guru-section {
  display: grid;
  grid-template-columns: repeat(4, 15vw);
  grid-row-gap: 30px;
  grid-column-gap: 40px;
  width: 100%;
  justify-content: center;
}

.card-guru {
  width: 15vw;
}

.card-img-guru {
  width: 15vw;
}

.card-guru-container > h3 {
  margin-bottom: 0;
}

.card-guru-container > p {
  margin-top: 0;
}

@media screen and (max-width: 720px) {
  .guru-container > h1 {
    font-size: 24px;
  }

  .guru-section {
    grid-template-columns: repeat(4, 15vw);
    grid-row-gap: 10px;
    grid-column-gap: 20px;
  }

  .card-guru-container > h3 {
    font-size: 16px;
  }

  .card-guru-container > p {
    font-size: 14px;
  }
}
