.partner-container {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  margin-top: 80px;
}

.header-partner-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-partner-section > h1 {
  width: max-content;
}

.header-partner-section > p {
  width: 50%;
}

.header-partner-tentang-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.slider-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  transition: 1.5s;
}

.logo-partner-section {
  display: flex;
  overflow: hidden;
}

.logo-partner-section img {
  justify-content: space-between;
}

.logo-partner-section input {
  display: none;
}

/* .logo-partner-section {
  animation: slider 5s linear infinite;
  width: calc(800px * 2);
}

@keyframes slider {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 2));
  }
} */

.image-slider {
  width: 100vw;
  text-align: center;
}

/* slider */
.slider-manual,
.slider-auto {
  position: absolute;
  width: 90%;
  margin-top: 150px;
  display: flex;
  justify-content: center;
}
/* slider */

/* slider-button */
.manual-btn,
.slider-auto div {
  border: 2px solid #9f9f9f;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
/* slider-button */

/* manual-slider */

.manual-btn:not(:last-child) {
  margin-right: 20px;
}

.manual-btn:hover {
  background: #9f9f9f;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -100%;
}
/* manual-slider */

/* auto-slider */

.slider-auto div:not(:last-child) {
  margin-right: 20px;
}

#radio1:checked ~ .slider-auto .auto-btn1 {
  background: #9f9f9f;
}

#radio2:checked ~ .slider-auto .auto-btn2 {
  background: #9f9f9f;
}
/* auto-slider */

@media screen and (max-width: 960px) {
  .logo-partner-section {
    width: auto;
  }
  .slider-section img {
    width: 10vw;
  }
}

@media screen and (max-width: 720px) {
  .header-partner-section {
    flex-direction: column;
    width: auto;
  }

  .header-partner-section > h1 {
    width: 100%;
    font-size: 24px;
    text-align: center;
  }

  .header-partner-section > p {
    width: 100%;
    font-size: 14px;
  }

  .slider-manual,
  .slider-auto {
    width: 75%;
    margin-top: 60px;
  }

  .manual-btn,
  .slider-auto div {
    padding: 3px;
  }
}
